---
interface Props {
    title: string;
    image: string;
    width: string;
    height: string;
}

const image = Astro.props.image;
const width = Astro.props.width;
const height = Astro.props.height;
---

<div class="col-span-1 row-span-1 bg-zinc-100 shadow-md hover:scale-[101%] duration-100 ease-in-out w-fit h-fit">
    <div class=`border border-black w-[${width}] h-[${height}]`>
        <img src={image} width=`${width}` height=`${height}` alt="img" />
    </div>
</div>