---
// Props
interface Props {
  id: string;
  title: string;
  body: string;
  primary: boolean;
  className?: string;
}

const { id, title, body, primary, className } = Astro.props;
const reversed = title.split("").reverse().join("");
const colorClass = primary ? "bg-primary text-white" : "bg-secondary text-surface";
---

<div class={`min-h-[100vh] ${className}`}>

  <div class={`p-5 min-h-[100vh] flex flex-col justify-center items-center ${colorClass}`}>
    <div class="relative">
      <hr class="my-12 h-0.5 border-t-0 bg-neutral-100 dark:bg-white/10" />

      <h1 class="inter break-words text-9xl tracking-tighter" id={id}>{reversed}</h1>
      
      <p class="satoshi-light text-3xl">
          {body}
      </p>

      <div class="absolute inset-0">
        <slot />
      </div>

    </div>
  </div>
  
</div>