---
interface props {
  data: Object,
};

/* data = {
  0: {
    src: "/img/placeholder.png",
    link: "/project/placeholder", (optional)
  },
  1: {
    ...
  },
} */
const data = Astro.props.data || {};
---

{Object.entries(data).length > 0 && (
  <div class="grid grid-cols-2 gap-4 px-5">
    <div class="grid grid-cols-2 grid-rows-2 gap-4">
      {Object.entries(data).slice(0, 4).map(([key, value]) => (
        <div class="border" key={key}>
          {value.link ? (
            <a href={value.link}>
              <img src={value.src} />
            </a>
          ) : (
            <img src={value.src} />
          )}
        </div>
      ))}
    </div>
    <div class="border">
      {data[4] ? (
        data[4].link ? (
          <a href={data[4].link}>
            <img class="h-full w-full" src={data[4].src} />
          </a>
        ) : (
          <img class="h-full w-full" src={data[4].src} />
        )
      ) : (
        <img class="h-full w-full" src="/img/placeholder.png" />
      )}
    </div>
  </div>
)}